<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each do |taxonomies| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target=" #taxon_<%= taxonomies.id %> "><%= taxonomies.name  %><i class="fa fa-plus"></i></a>
            <ul id="taxon_<%= taxonomies.id %>" class="collapse collapseItem">
              <% taxonomies.root.children.each do |taxon| %>
                <li>
                  <% if taxon.leaf? %>
                    <%= link_to  potepan_category_path(taxon.id) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %><span>(<%= taxon.products.size %>)</span>
                    <% end %>
                  <% else %>
                    <% taxon.children.each do |more_taxon| %>
                      <%= link_to potepan_category_path(more_taxon.id) do %>
                        <i class="fa fa-caret-right" aria-hidden="true"></i><%= more_taxon.name %><span>(<%= more_taxon.products.size %>)</span>
                      <% end %>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
