<% provide(:title,@taxon.name) %>
<%= render 'light_section', taxon: @taxon %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'category', taxonomies: @taxonomies %>
        <%= render 'price_range' %>
        <%= render 'color' %>
        <%= render 'size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <%= render 'products', products: @products %>
      </div>
    </div>
  </div>
</section>
<%= render 'partner_logo' %>
