<div class="row singleProduct">
  <div class="col-xs-12">
    <div class="media">
      <div class="media-left productSlider">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% if product.images.present? %>
              <% product.images.each_with_index do |image, idx| %>
                <div class="item <%= "active" if idx.zero? %>" data-thumb="<%= idx %>">
                  <%= image_tag(image.attachment(:large), :alt => "#{product.name}-img") %>
                </div>
              <% end %>
            <% else %>
              <div class="item active" data-thumb="0">
                <%= image_tag("img/products/signle-product/product-slide-big-01.jpg" , :alt => "no-img") %>
              </div>
              <div class="item" data-thumb="1">
                <%= image_tag("img/products/signle-product/product-slide-big-02.jpg" , :alt => "no-img") %>
              </div>
              <div class="item" data-thumb="2">
                <%= image_tag("img/products/signle-product/product-slide-big-03.jpg" , :alt => "no-img") %>
              </div>
              <div class="item" data-thumb="3">
                <%= image_tag("img/products/signle-product/product-slide-big-04.jpg" , :alt => "no-img") %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="clearfix">
          <div id="thumbcarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
              <% if product.images.present? %>
                <% product.images.each_with_index do |image, idx| %>
                  <div data-target="#carousel" data-slide-to="<%= idx %>" class="thumb">
                    <%= image_tag(image.attachment(:small), :alt => "#{product.name}-img") %>
                  </div>
                <% end %>
              <% else %>
                <div data-target="#carousel" data-slide-to="0" class="thumb"><%= image_tag("img/products/signle-product/product-slide-small-01.jpg" , :alt => "no-img") %></div>
                <div data-target="#carousel" data-slide-to="1" class="thumb"><%= image_tag("img/products/signle-product/product-slide-small-02.jpg" , :alt => "no-img") %></div>
                <div data-target="#carousel" data-slide-to="2" class="thumb"><%= image_tag("img/products/signle-product/product-slide-small-03.jpg" , :alt => "no-img") %></div>
                <div data-target="#carousel" data-slide-to="3" class="thumb"><%= image_tag("img/products/signle-product/product-slide-small-04.jpg" , :alt => "no-img") %></div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="media-body">
        <ul class="list-inline">
          <li>
            <%= link_to potepan_category_path(product.taxons.first.id) do %>
              <li><i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</li>
            <% end %>
          </li>
        </ul>
        <h2><%= product.name %></h2>
        <h3><%= product.display_price %></h3>
        <p><%= product.description %></p>
        <span class="quick-drop">
          <select name="guiest_id3" id="guiest_id3" class="select-drop">
            <option value="0">S</option>
            <option value="1">M</option>
            <option value="2">L</option>
            <option value="3">XL</option>
          </select>
        </span>
        <span class="quick-drop resizeWidth">
          <select name="guiest_id4" id="guiest_id4" class="select-drop">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </span>
        <div class="btn-area">
          <%= link_to  potepan_cart_page_path, { :class => "btn btn-primary btn-block" } do %>
            カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="tabArea">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#details">details</a></li>
            <li><a data-toggle="tab" href="#about-art">about art</a></li>
            <li><a data-toggle="tab" href="#sizing">sizing</a></li>
            <li><a data-toggle="tab" href="#shipping">shipping</a></li>
          </ul>
          <div class="tab-content">
            <div id="details" class="tab-pane fade in active">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <ul class="list-unstyled">
                <li>Black, Crew Neck</li>
                <li>75% Cotton, 25% Rayon</li>
                <li>Waterbased Ink</li>
                <li>Wash Cold, dry low</li>
              </ul>
            </div>
            <div id="about-art" class="tab-pane fade">
              <p>Nulla facilisi. Mauris efficitur, massa et iaculis accumsan, mauris velit ultrices purus, quis condimentum nibh dolor ut tortor. Donec egestas tortor quis mattis gravida. Ut efficitur elit vitae dignissim volutpat. </p>
            </div>
            <div id="sizing" class="tab-pane fade">
              <p>Praesent dui felis, gravida a auctor at, facilisis commodo ipsum. Cras eu faucibus justo. Nullam varius cursus nisi, sed elementum sem sagittis at. Nulla tellus massa, vestibulum a commodo facilisis, pulvinar convallis nunc.</p>
            </div>
            <div id="shipping" class="tab-pane fade">
              <p>Mauris lobortis augue ex, ut faucibus nisi mollis ac. Sed volutpat scelerisque ex ut ullamcorper. Cras at velit quis sapien dapibus laoreet a id odio. Sed sit amet accumsan ante, eu congue metus. Aenean eros tortor, cursus quis feugiat sed, vestibulum vel purus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
